* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.reg_actual_body{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}
.register_body {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.container {
    max-width: 700px;
    /*position: absolute;*/
    padding: 25px 30px;
    border-radius: 5px;
    align-content: center;

    /*width: 1219px;*/
    /*height: 721px;*/

    background: rgba(233, 107, 107, 0.94);
    border-radius: 34px;
    margin-top: 100px;
    margin-left: 100px;
}

.heading{
    width: 100%;
    display: flex;
    justify-content: center;
}
.title {
    font-size: 25px;
    font-weight: 500;


    width: 376px;
    height: 53px;

    border-radius: 9px;

}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: darkgoldenrod;
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .gender-details .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

.gender-details .category label {
    display: flex;
    align-items: center;
}

.gender-details .category .dot {
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked ~ .category .one,
#dot-2:checked ~ .category .two,
#dot-3:checked ~ .category .three {
    border-color: #d9d9d9;
    background: #9b59b6;
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 45px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: darkolivegreen;
}

form .button input:hover {
    background: grey;
}

@media (max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .gender-details .category {
        width: 100%;
    }

    .container form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 0;
    }
}