<!DOCTYPE html>
{% load static %}
<head>
    <title>About Us</title>
 <link href="{% static 'css/about.css' %}" rel="stylesheet"/>
</head>
<body>
<div class="logo">
    <img src={% static "../media/icon.png" %}>
</div>
    <div class="content">
    <h3> About Us</h3>
    <p>
        A recent survey on career option awareness among indian students has revealed that a staggering 93% of the students aged 14 to 21 were aware of just seven career options ythough there are more than 250 different types of job options available in India.
        The main reason behind the problem is that there are a huge number of youth passing out from schools and colleges
        every year, and there are many new career options and job roles being added to various industries in well.
        Students feel much more confident in choosing a particular career when they are supported by their parents.
    <br>
    <br>
        Our website COTERIE aims at providing satisfying solution for the above problem.
    <br>
    <br>
        Coterie is a website which connects people who have similar job interests to interact and share their thoughts to achieve the respective job.
        The website is designed by providing the user with details of their ambitions and experienced apt mentors of the respective field
        are connected to users.
    </p>
    </div>
</body>