<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>coterie</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<body>

<div class="logo">
    <img src={% static "../media/icon.png" %}>
</div>
<div class="menu-bar">
    <ul>
        <li class="active"><a href="#"><i class="fa fa-home"></i>HOME</a></li>

        <li><a href="#"><i class="fa fa-info"></i>ABOUT US</a></li>

    </ul>
</div>
{% if not request.user.is_authenticated %}
    <div class="login-form">
        <h1>Login Form</h1>
                {% if pswderr %}
                <div class=" text-danger text-center" role="alert">
                    <i class="fa fa-exclamation-circle"></i> {{ pswderr }}
                </div>
            {% endif %}
        <form action="/login/?{{ request.META.QUERY_STRING }}"
              method="POST">
            {% csrf_token %}
            <p>User Name</p>
            <input type="text" name="email" placeholder="User Name">
            <p>Password</p>
            <input type="passwrod" name="password" placeholder="Password">
            <button type="submit">SIGN IN</button>
        </form>
    </div>
    <div class="content">
        <h4>what we do?</h4>
        <p>
            People of similar interests or ambitions are connected and helped to create a community with them

        </p>
    </div>
{% else %}
    <h2>Hi, {{ request.user.username }}</h2>
{% endif %}
</body>
</head>
</html>